@font-face {
    font-family: 'Chakra Petch';
    src: url('./fonts/ChakraPetch-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('./fonts/ChakraPetch-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}