@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Chakra Petch";
  src: url("./fonts/ChakraPetch-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Chakra Petch";
  src: url("./fonts/ChakraPetch-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-accent:#ecb54a;
  --color-light:#ffffff;
  --color-dark: #1c1c1c;
  --color-navdark: #181616;
  --font-family-base: "Space Grotesk", "sans-serif";
}

body {
  font-size: clamp(16px, (1.25) vw, 18px);
  font-family: var(--font-family-base);
  font-weight: 300;
  font-size: 18px;
  line-height: 1.28;
  color: var(--color-light);
  background-color: var(--color-dark);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

h1, h2, h3, h4 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: clamp(43px, (4.1666666667) vw, 60px);
}

h2 {
  font-size: clamp(36px, (2.7777777778) vw, 40px);
}

h3 {
  font-size: clamp(26px, (2.0833333333) vw, 30px);
}

h4 {
  font-size: clamp(183px, (1.3888888889) vw, 20px);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

.header {
  width: 100%;
  position: fixed;
  padding-top: 37px;
  display: flex;
  padding-bottom: 37px;
  padding-left: 4%;
  padding-right: 4%;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  z-index: 100;
  transition: background-color 0.3s ease, padding-bottom 0.3s ease-out, padding-top 0.3s ease;
}
@media (max-width: 767px) {
  .header {
    min-height: 58px;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.header-bg {
  padding-bottom: 0px;
  padding-top: 7px;
  background-color: var(--color-dark);
  transition: background-color 0.3s ease, padding-bottom 0.3s ease-out, padding-top 0.3s ease;
}
.header__logo {
  margin-left: 30px;
  max-width: 300px;
}
@media (max-width: 1280px) {
  .header__logo {
    max-width: 250px;
    margin-left: 0;
  }
}
.header__menu {
  margin-right: 40px;
}
.header__menu-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  font-size: 30px;
}
@media (max-width: 1280px) {
  .header__menu-list {
    -moz-column-gap: 30px;
         column-gap: 30px;
    font-size: 24px;
    margin-right: 20px;
  }
}
.header__menu-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 48px;
}
@media (max-width: 1023px) {
  .header__menu-link {
    font-size: 20px;
  }
}
@media (hover: hover) {
  .header__menu-link:hover {
    color: var(--color-accent);
    transition: 0.3s;
  }
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active {
    color: var(--color-accent);
    transition: 0.3s;
  }
  .header__menu-link:active::after {
    width: 100%;
  }
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-duration: 0.3s;
}

.burger-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}
.burger-button:active {
  color: var(--color-dark);
  cursor: pointer;
  background: var(--color-accent);
  transition: 1s;
}

.burger-button span {
  width: 100%;
  height: 2px;
  background-color: var(--color-light);
  border-radius: 2px;
  transition: transform 0.3s ease;
}

.burger-button.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger-button.active span:nth-child(2) {
  opacity: 0;
}

.burger-button.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.hero {
  height: 100vh;
  position: relative;
  align-items: center;
  justify-content: center;
}
.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.hero__main {
  padding: 38vh 5vh 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .hero__main {
    padding-top: 30vh;
  }
}
.hero__main-image {
  margin-bottom: 300px;
}
@media (max-width: 767px) {
  .hero__main-image {
    margin-bottom: 50px;
  }
}
.hero__main-button {
  background: none;
  color: var(--color-accent);
  border: none;
  font-size: 30px;
  min-height: 80px;
  border-radius: 25px;
}
.hero__main-button:hover {
  color: var(--color-dark);
  cursor: pointer;
  background: var(--color-accent);
  transition: 1s;
}
@media (max-width: 767px) {
  .hero__main {
    display: flex;
    flex-direction: column;
  }
}

.approach {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-dark);
  height: 70%;
  background-color: var(--color-accent);
}
.approach__body {
  padding: 15px 20px;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 767px) {
  .approach__body {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 10px;
  }
}
.approach__body-main {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
}
@media (max-width: 767px) {
  .approach__body-main {
    align-items: center;
    width: 70%;
  }
}
@media (max-width: 767px) {
  .approach__body-main-description {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
  }
}
.approach__body-img {
  position: relative;
  transition: transform 0.3s ease;
}
.approach__body-img:hover {
  transform: scale(1.05);
}
@media (max-width: 1023px) {
  .approach__body-img {
    max-width: 50%;
  }
}
@media (max-width: 767px) {
  .approach__body-img {
    max-width: 60%;
  }
}

.footer {
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
}
.footer__list {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media (max-width: 767px) {
  .footer__list {
    flex-direction: column;
  }
}
.footer__list-item {
  align-items: center;
}
.footer__list-item-icon {
  padding: 10px;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .footer__list-item-icon:hover {
    transition: 0.3s ease;
    background-color: var(--color-accent);
  }
}
@media (max-width: 767px) {
  .footer__list-item-icon:active {
    transition: 0.3s ease;
    background-color: var(--color-accent);
  }
}
.footer__list img {
  height: 30px;
  width: 30px;
}
.footer__list img:hover {
  filter: invert(1);
  transition: 0.3s ease;
}
.footer__list-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer__list-links a {
  margin-left: 15px;
  margin-right: 15px;
}/*# sourceMappingURL=styles.css.map */